body { 
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: #e8e8e8;
  }

  .form {
    font-family: "Lato", sans-serif;
    margin: auto;
    display: grid;
    place-items: center;
    position: relative;
    color: #0088ff;
    width: 500px;
    height: fit-content;
    padding: 25px;
    background-color: #161616;
    border-radius: 20px;
  }

    h1{
    font-size: 30px;
    font-weight: bolder;
    padding: 25px;
    text-align: center;
    }

    h2{
    margin-top: -5px;    
    }

    label {
    display: block;
    margin-top: 20px;
    }

    input[type="text"], input[type="tel"], select {
    padding: 11px 50px;
    margin: -3px;
    height: 15px;
    width: 250px;
    font-size: 15px;
    text-align: center;
    color: beige;
    background: transparent;
    border: 2px solid #e3e3e3;
    border-radius: 8px;
    }

    .select{
    padding: 11px 50px;    
    height: 15px;
    width: 250px;    
    }

    textarea {
    width: 80%;
    padding: 5px;
    margin-top: 5px;
    height: 50px;
    font-size: 17px;
    font-family: "Lato", sans-serif;
    }
 
    input[type="submit"] {
    width: 50%;
    padding: 11px 50px;
    margin-top: 20px;
    background-color: #277ad3;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 8px;
    }

    input[type="submit"]:hover {
    color: #161616;
    background-color: beige;
    }